@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@media only screen and (max-width: 1315px) {
   
#main_left{
	float: left;
margin-top: -230px;
margin-left: -200px;
	
}

}



@font-face {
font-family: 'bebas neue';
src: url('BebasNeue.otf');
}

@font-face {
font-family: 'intro';
src: url('Intro.otf');
}

/*______________________________________________*/


body{
	background: url('../images/bg_cover.jpg') center no-repeat fixed;
	background-size: cover;
	width:100%;
	height:100%;
	padding-top: 415px;
}


a{
	text-decoration: none;
	color: #000;
	font: 1em "titillium web", helvetica, arial, sans-serif;	
	font-weight: 200;

	
}

h1{
	font: 8em "bebas neue", helvetica, arial, sans-serif;	
	color: #fff;
	float: left;
	
}


/*__________________MENU_____________________*/

nav{
	background-color: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 65px;
	margin: auto;
	padding-top: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0, 0.2);
	z-index: 999;
	
	
}

ul{
	line-height : 50px;
}

ul#nav li{
	display: inline;
	float: right;
	margin: 0 2em 0 2em;
}

ul#nav li a:hover{
	color: #aecc54;
}

li a#connect{
	padding: 1.5em  3em;
	font-weight: 400;
	text-decoration: underline;

	border-left: 1px solid rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	
	
}

li a#connect:hover{
	text-decoration: none;

}

li a#connect:before{
	content: url(../images/icon_connexion.png);
	margin: 0.6em;
	
	
	
}

nav img{
float: left;
margin-left: 50px;
}



/*__________________SLIDE 1_____________________*/


#slide1{
	width: 100%;
	height: 450px;
	background-color: #fbfafa;
	
}


/*__________________SLIDE 3_____________________*/

#slide3 h3.title{
 position: relative;
 top: -20px;
 width: 330px;
 background-color: #b2c878;
 text-align: center;
 color: #fff;
 text-transform: uppercase;
 font: 1.2em 'titillium web', helvetica, arial, sans-serif;
 font-weight: 200;
 padding: 6px 0;
}


#slide3{
 width: 100%;
 margin: 0 auto;
 background-color: #fff;
 padding-bottom: 20px;
}


#content_contribs{
 width: 1200px;
 margin: 0 auto;
}

#content_contribs{
 margin: 0 auto;
}

#content_contribs ul li{
 display: inline-block;
 margin: 50px 1.5%;
 width: 360px;
}


#content_contribs img{
 float: left;
}

#content_contribs p{
 font: 1em 'titillium web', helvetica, arial, sans-serif;
 font-weight: 200;
 margin-top: 10px;
 
}

#content_contribs span{
 font-weight: 400;
 color: #aecc54;

 
}

#content_contribs p.de{
 float: left;
}

#content_contribs p.dates{
 float: right;
}


			/*__________________Bloc droit_____________________*/


#teaser_right{
	float: right;
	margin: -250px 150px 0 0;
}

#teaser_right div#baseline{
	height: 90px;
	width: 320px;
	padding-bottom: 40px;
}


#teaser_right div div#app_mobile{
	float: right;
	width: 40px;
	font: 1em "bebas neue", helvetica, arial, sans-serif;
	color: #FFF;	
	margin-top: 10px;
	line-height: 115%;
	
}

div#content{
	background: url('../images/bg_youtube.png') no-repeat;
	width: 563px;
	padding-top: 44px;
}

div#content div{
	margin: 0 auto;
	width: 476px;
	height: 277px;
}
							/*__________________Boutons_____________________*/


.button {
	padding: 16px 20px 16px 20px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	width: 188px;
	text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 3px;
	margin: 20px 2px 5px 0;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.65);
	
	
	
}
.button span.icon {
	width: 40px;
	height: 45px;
	display: block;
	background: url('../images/button_icons3.png') no-repeat top left;
	opacity:0.8;
	
	float: left;
	margin: 0 12px 0 8px;
}
.button em {
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: #fff;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.65);
	font-style: normal;
}
.button:active {
	-webkit-box-shadow: inset 0px 0px 7px #333;
	-moz-box-shadow: inset 0px 0px 7px #333;
	box-shadow: inset 0px 0px 7px #333;
}
.button#apple {
	background: url("../images/bg_button2.png") no-repeat; 
	float: left;
	
}
.button#apple em {
	color: #fff;
}
.button#apple:hover {
	background: url("../images/bg_button2.png") no-repeat; 
	opacity: 0.8;
	
}


.button#gplay {
	background: url("../images/bg_button3.png") no-repeat; 
	float: right;
	margin-right: -10px;
	
	
}
.button#gplay em {
	color: #60686f;
}
.button#gplay:hover {
	background: url("../images/bg_button3.png") no-repeat; 
	opacity: 0.8;
	
}

.button#gplay span.icon {
	background-position: 0px -43px;
}

.button#gplay span#googleplay {
	color: #60686f;
}


			/*__________________Bloc gauche_____________________*/


#main_left{
	float: left;
	margin-top: -230px;
	
	
}

			/*__________________Compteur_____________________*/


.title{
	margin: 0 auto;
	z-index: 800;
	position: relative;
	width: 250px;
	
}

#title {
	clear: both;
	position: relative;
	top: -115px;
	padding-top: 85px;
	width: 490px;
	height: 200px;
	z-index: 800;
	background: url('../images/bg_chiffres.png') no-repeat;
	
}

.title div#compteur{
	margin: 0 0 0 120px;	
	width: 300px;
}

h2#chiffres{
	font: 6em "bebas neue", helvetica, arial, sans-serif;
	color: #b2c878;
	display: inline;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.6);
	
	
}


#dechets{
	width: 50px;
	display: inline-block;
	position: relative;
	top: -35px;
	text-transform: uppercase;
	color: #a3a3a3;
	font:  1em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 700;	
	line-height: 120%;
	
	
	
}

div div#shadow{
	box-shadow: 0px 0px #818181;
	-webkit-box-shadow: 0px 3px 5px #818181;
	-moz-box-shadow: 5px 5px 5px #818181;
	}
}
/*__________________SLIDE 2_____________________*/


#map{
	width:100%;

	
}

#map img{

	width:100%;
}


/*__________________SLIDE 3_____________________*/
#slide4{
	width: 1200px;
	height: 700px;
	margin: 0 auto;
}

ul#etapes{
	margin-top: 80px;
}

ul#etapes li{
	display: inline-block;
	width: 234px;
	height: 390px;
	margin: 20px 2.6%;
	text-align: center;
	
}

#slide4 h3.title{
	position: relative;
	top: -20px;
	width: 330px;
	background-color: #b2c878;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font: 1.2em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 200;
	padding: 6px 0;
}

.picto{
	height: 290px;
	width: 100%;
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 30px;
}
.picto img{
	margin-top: 35px;
}



.nombres{
	width: 39px;
	height: 39px;
	margin: 0 auto;
	font: 1.2em 'intro', helvetica, arial, sans-serif;
	line-height: 45px;
	position: relative;
	top: -20px;
	color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.2);
}

#n1{
	background-color: #8781a2;
}

#n2{
	background-color: #74a1a7;
}

#n3{
	background-color: #feb478;
}

#n4{
	background-color: #b5c26f;
}


	


.titre_etape{
	font: 1.2em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 400;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
}

.phrase_etape{
	font: 1em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 200;
	color: #fff;
	
}



/*__________________SLIDE 3_____________________*/
#slide4{
	width: 1200px;
	height: 700px;
	margin: 0 auto;
}

ul#etapes{
	margin-top: 80px;
}

ul#etapes li{
	display: inline-block;
	width: 234px;
	height: 390px;
	margin: 20px 2.6%;
	text-align: center;
	
}

#slide4 h3.title{
	position: relative;
	top: -20px;
	width: 330px;
	background-color: #b2c878;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font: 1.2em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 200;
	padding: 6px 0;
}

.picto{
	height: 290px;
	width: 100%;
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 30px;
}
.picto img{
	margin-top: 35px;
}



.nombres{
	width: 39px;
	height: 39px;
	margin: 0 auto;
	font: 1.2em 'intro', helvetica, arial, sans-serif;
	line-height: 45px;
	position: relative;
	top: -20px;
	color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.2);
}

#n1{
	background-color: #8781a2;
}

#n2{
	background-color: #74a1a7;
}

#n3{
	background-color: #feb478;
}

#n4{
	background-color: #b5c26f;
}


	


.titre_etape{
	font: 1.2em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 400;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
}

.phrase_etape{
	font: 1em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 200;
	color: #fff;
	
}

/*__________________SLIDE 4_____________________*/

#slide3 h3.title{
	position: relative;
	top: -20px;
	width: 330px;
	background-color: #b2c878;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font: 1.2em 'titillium web', helvetica, arial, sans-serif;
	font-weight: 200;
	padding: 6px 0;
}



/*=======================================================================================================
                                                @MEMBERPAGE
=========================================================================================================*/
 
/*--------------------1.SECTION PROFIL UTILISATEUR----------------------*/
section.profil {
    height: 587px;
    width : 100%;
}
section.profil_perso {
    background-color: white;
    width : 50%;
    float:left;
}
section.badge{
    background-color: white;
    width : 50%;
    float: right;
}
section.profil h3{
border-bottom : 1px solid #acacac;
width : 80%;}
section.profil h3.edit{
background-image: url(../images/edit.png);  
background-repeat : no-repeat;  
}
section.profil div.wrapper{
width: 70%;
margin-left: 20%;
}
 
/*------------------1.A SECTION MES INFOS------------------------------*/
 
div.photo{
    float: left;
    width : 50%;
    margin-top : 3%;
}
section.profil ul li{ 
margin-top: 2%;
padding-bottom: 1%;
background-repeat: no-repeat;
width: 100%;
padding-left: 40px;
width: 280px;
height:27px;
}
section.profil_perso ul {
margin-top: 2%;
margin-left: 13%;
position: absolute;
padding-bottom: 2%;
}
 
section.profil_perso ul li:nth-child(1)  {background-image :url(../images/logo_connexion.png);}
section.profil_perso ul li:nth-child(2)  {background-image :url(../images/layer.png);}
section.profil_perso ul li:nth-child(3)  {background-image :url(../images/adresse.png);}
section.profil_perso ul li:nth-child(4)  {background-image :url(../images/mail.png);}
section.profil_perso ul li:nth-child(5)  {background-image :url(../images/tel.png); }
 
 
/*-----------------1.B SECTION BADGES UTILISATEURS------------------------------*/
.liste_badges li{
    display : inline-block;
}
section.badge ul li{
width : 76px;
height : 90px;
background-repeat: no-repeat;
padding-left : 2%;
padding-right: 2%;
display:inline-block;
}
section.badge figcaption{
    text-align: center;
}
 
/*-------------------2.SECTION DERNIERES CONTRIBUTIONS UTILISATEUR--------------*/
section.contrib_user {
    height: 1027px;
    background-color: #e9e9e9;
}
section.contrib_user ul{margin-left: 17%;}
 
section ul.contribution_auteur li {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 294px;
}
 
section ul.contribution_auteur figcaption{
    text-align : left;
    margin-left: -24%;
margin-top: 2%;
}
 
section.contribution_auteur ul:nth-child(2){
    background-color: #FFF;
    height: 10%;
    padding-top: 3%;
    padding-bottom: 3%; 
}
 
section.contribution_auteur ul:nth-child(2) figcaption{
 
}


/*  CSS map popup*/
.popup {
    text-align: center;
}
.popup img {
    width: 100%;
}


.box {
    width: 294px;
    height: 235px;
    overflow: hidden;
    position: relative;
}
.box img {
    width: 400px;
    min-height: 235px;
    position: absolute;
    left: -19%;
    top: -5%;
}

/*__________________TOGGLE CONNEXION_____________________*/


   /* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

   /* ---------- GENERAL ---------- */


input {
 border: none;
 font-family: 'Open Sans', Arial, sans-serif;
 font-size: 14px;
 line-height: 1.5em;
 padding: 0;
 -webkit-appearance: none;
}



.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
 display: table;
 content: "";
}
.clearfix:after { clear: both; }

   /* ---------- LOGIN ---------- */

#login {
 margin: 50px auto;
 width: 170px;
 background-color: #fff;
 padding: 30px 30px 10px 30px;
 position: fixed;
 right: 0;
 top: 30px;
}




#login form span {
 background-color: #363b41;
 border-radius: 3px 0px 0px 3px;
 color: #606468;
 display: block;
 float: left;
 height: 50px;
 line-height: 50px;
 text-align: center;
 width: 50px;
}

#login form input {
 height: 50px;
}

#login form input[type="text"], input[type="password"] {
 background-color: #3b4148;
 border-radius: 0px 3px 3px 0px;
 color: #606468;
 margin-bottom: 1em;
 padding: 0 16px;
 width: 80px;
}

#login form input[type="submit"] {
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 background-color: #aecc54;
 color: #eee;
 font-weight: bold;
 margin-bottom: 2em;
 text-transform: uppercase;
 width: 162px;
}

#login form input[type="submit"]:hover {
 background-color: #bed96f;
}

#login > p {
 text-align: center;
 font: 1em "titillium web", helvetica, arial, sans-serif;
 
}




#login p a{
 display: block;
 line-height: 80%;
 margin-bottom: 20px;
}


/*__________________TOGGLE INSCRIPTION_____________________*/


   /* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

   /* ---------- GENERAL ---------- */


.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
 display: table;
 content: "";
}
.clearfix:after { clear: both; }

   /* ---------- LOGIN ---------- */

#inscription {
 margin: 50px auto;
 width: 170px;
 background-color: #fff;
 padding: 30px 30px 10px 30px;
 position: fixed;
 right: 0;
 top: 30px;
}




#inscription form span {
 background-color: #363b41;
 border-radius: 3px 0px 0px 3px;
 color: #606468;
 display: block;
 float: left;
 height: 50px;
 line-height: 50px;
 text-align: center;
 width: 50px;
}

#inscription form input {
 height: 50px;
}

#inscription form input[type="text"], input[type="password"], input[type="email"] {
 background-color: #3b4148;
 border-radius: 0px 3px 3px 0px;
 color: #606468;
 margin-bottom: 1em;
 padding: 0 16px;
 width: 80px;
}



#inscription form input[type="submit"] {
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 background-color: #aecc54;
 color: #eee;
 font-weight: bold;
 margin-bottom: 2em;
 text-transform: uppercase;
 width: 162px;
}

#inscription form input[type="submit"]:hover {
 background-color: #bed96f;
}

#inscription > p {
 text-align: center;
 font: 1em "titillium web", helvetica, arial, sans-serif;
 
}




#inscription p a{
 display: block;
 line-height: 80%;
 margin-bottom: 20px;
}


	