<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
        <base href="<?php echo $BASE; ?>/">
        <link rel="stylesheet" type="text/css" href="public/mobile/stylesheet/style.css" />
        <link rel="stylesheet" type="text/css" href="public/mobile/stylesheet/fonts.css" />
        
        <title>Scrapp</title>
    </head>
    <body>
<header><h1><img src="public/mobile/assets/images/logo2.png" alt="logo scrapp"></h1></header>
 <div>
 <p class="catch_phrase">Un petit ruisseau, du nom de Larousse,
 coule en leur lieu et les approvisionne en régalades</p>
 </div>

<h2>Connexion</h2>
<?php if(isset($error)): ?>
  <div class="error"><?php echo $error ?></div>
<?php endif; ?>
<div>
  <form autocomplete="off" method="post" action="mobile/">
      <input type="text" name="username" placeholder="Nom d'utilisateur" value="<?php if(isset($POST['username'])):  echo $POST['username']; endif; ?>" required />
      <input type="password" name="password" placeholder="Mot de passe" required />
      <input type="submit" value="Login" />
</form>

</div>

<section>
  <a href="#">Mot de passe oublié ?</a></br>
  <a href="mobile/register/" class="inscrire">Vous inscrire</a>
</section>
    </body>
</html>