<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<title>Scrapp</title>
	<meta name="description" content="">
  <base href="<?php echo $BASE; ?>/" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Arapey" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/mfglabs_iconset.css" rel="stylesheet"  type="text/css" />
  <link href="public/stylesheet/scrapp.css" rel="stylesheet" type="text/css" />
  
</head>
<body>
  <header>
    
    
    <a href="" class="logo">Scrapp</a>
    
  </header>
  
    <?php if(isset($error)): ?> 
    <div class="error"><?php echo $error; ?></div>
    <?php endif;?>  
<h3>Inscription</h3>
<form action="createAccount/" method="post">
nom : <input type="text" name="nom" value=""><br />
mot de passe : <input type="text" name="password" value=""><br />
anniversaire : <input type="text" name="anniversaire" value=""><br />
adresse : <input type="text" name="adresse" value=""><br />

e-mail : <input type="text" name="mail" value=""><br />
Confirmation : <input type="text" name="confirmation" value=""><br />

téléphone : <input type="text" name="phone" value=""><br />

<input type="submit" name="valider" value="Valider">
</form>
   

  
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/scrapp.js"></script>
</body>
</html>