<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<title>Scrapp</title>
	<meta name="description" content="">
  <base href="<?php echo $BASE; ?>/" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Arapey" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/mfglabs_iconset.css" rel="stylesheet"  type="text/css" />
  <link href="public/stylesheet/scrapp.css" rel="stylesheet" type="text/css" />
  
</head>
<body>
  <header>
    
  </header>
  
    <?php if(isset($error)): ?> 
    <div class="error"><?php echo $error; ?></div>
    <?php endif;?>  


  <div id="inscription">
        
             <form action="createAccount/" method="post">
            
                 <fieldset class="clearfix">
                
                     <p><span class="fontawesome-user"></span><input type="text" name="nom" value="Nom" onBlur="if(this.value == '') this.value = 'Nom'" onFocus="if(this.value == 'Nom') this.value = ''" required/></p> 
                     
                     <p><span class="fontawesome-lock"></span><input type="password" name="password" placeholder="password" value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required/></p> 

                     <p><span class="fontawesome-user"></span><input type="text" name="mail" value="email" onBlur="if(this.value == '') this.value = 'email'" onFocus="if(this.value == 'email') this.value = ''" required/></p>

                     <p><span class="fontawesome-user"></span><input type="text" name="adresse" value="adresse" onBlur="if(this.value == '') this.value = 'adresse'" onFocus="if(this.value == 'adresse') this.value = ''" required/></p>

                    <p><span class="fontawesome-lock"></span><input type="text" name="anniversaire" placeholder="Anniversaire" value="anniversaire" onBlur="if(this.value == '') this.value = 'anniversaire'" onFocus="if(this.value == 'anniversaire') this.value = ''" required/></p> 

                    <p><span class="fontawesome-lock"></span><input type="text" name="phone" placeholder="Tel" value="tel" onBlur="if(this.value == '') this.value = 'tel'" onFocus="if(this.value == 'tel') this.value = ''" required/></p> 

                     <p><input type="submit" id="valider" value="Valider"></p>

                 </fieldset>

             </form>
       
      </div>
   

  
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/scrapp.js"></script>
</body>
</html>