 <?php 
if(isset($pol)):
foreach($pol as $element):
$e[] = array(
    "longitude" => $element->longitude,
    "latitude" => $element->latitude,
    "chemin" => $element->chemin,
);
endforeach;
 $testjson  = json_encode($e);
 ?>
<div id='map'></div>


	<script>
var testJson = jQuery.parseJSON( '<?php echo $testjson; ?>' );
var lenghtJson = testJson.length;
var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
map.setView([48.855, 2.352], 13);

var addressPoints = [
];


for(var i = 0 ; i<lenghtJson; i++){
	addressPoints.push([parseFloat(testJson[i].latitude), parseFloat(testJson[i].longitude), '<img src="' + testJson[i].chemin + '"width="280px">'])
}
 var markers = new L.MarkerClusterGroup();

    for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
                var title = '<a target="_blank" class="popup" href="' + testJson[i].chemin + '">' +
                            '<img src="' + testJson[i].chemin + '">' +
                        '   <h2>' + testJson[i].longitude + '</h2>' +
                        '</a>';
        var marker = L.marker(new L.LatLng(a[0], a[1]), {
            icon: L.mapbox.marker.icon({'marker-symbol': 'waste-basket', 'marker-color': 'CF3A3A'}),
            title: title
        });
        marker.bindPopup(title,{
        closeButton: false,
        minWidth: 320
    });
        markers.addLayer(marker);
    }

    map.addLayer(markers);


</script>


<?php
endif;
?>