<?php 
if(isset($userPhoto)):
foreach($userPhoto as $element):
$e[] = array(
    "longitude" => $element->longitude,
    "latitude" => $element->latitude,
    "chemin" => $element->chemin,
);
endforeach;
 $testjson  = json_encode($e);
 ?>
<div id='map'></div>


	<script>
var testJson = jQuery.parseJSON( '<?php echo $testjson; ?>' );
var lenghtJson = testJson.length;
var map = L.mapbox.map('map', 'examples.map-9ijuk24y');

var geoJson = [];



for(var i = 0 ; i<lenghtJson; i++){
geoJson.push({

	type: 'Feature',
    "geometry": { "type": "Point", "coordinates": [parseFloat(testJson[i].longitude), parseFloat(testJson[i].latitude)]},
    "properties": {
        "image": testJson[i].chemin,
        "url": testJson[i].chemin,
        "city": testJson[i].longitude+" "+testJson[i].latitude}
        }
        )
}
// Add custom popups to each using our custom feature properties
map.markerLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                            '<img src="' + feature.properties.image + '">' +
                        '   <h2>' + feature.properties.city + '</h2>' +
                        '</a>';

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
        closeButton: false,
        minWidth: 320
    });
});

// Add features to the map
map.markerLayer.setGeoJSON(geoJson);

map.setView([48.855, 2.352], 13);

</script>


<?php
endif;
?>

