<!DOCTYPE html>


<html langue= "fr">

	  	<head>
      		<meta charset="utf-8">
	  		<title> Pierre Bost </title>
	  
    		<link rel="stylesheet" href="css/reset.css"/>  
    		<link href="public/stylesheet/scrapp.css" rel="stylesheet" type="text/css" /> 
	
			<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
	
			<script type="text/javascript" src="scripts/jquery.js"></script>
	   	 	<!-- <script type="text/javascript" src="scripts/localscroll/jquery.localscroll.js"></script> -->
	    	<!-- <script type="text/javascript" src="scripts/localscroll/jquery.scrollTo.js"></script> -->
	    	<!--  <script type="text/javascript" src="scripts/lancement.js"></script> -->
		</head>
		<body>
			
				<!--MENU -->
				<nav id="firstNav">
					<img src="img/logo_scrapp.png" alt="scrapp logo" />
			        <ul id="nav">
			            <li><a id="connect" href="signin">Connexion</a></li>
			            <li><a id="m2" href="#slide2">Contributions</a></li>
			            <li><a id="m3" href="#slide3">Concept</a></li>
			            <li><a id="m4"href="#slide1">Carte</a></li>
			        </ul>
			  	</nav>
				
		
				<!--BLOC 1 -->
				<div id="slide1">
				
					<div id="main_left">
						<img src="img/hand_iphone.png" alt="photo iphone dans la main" />
					</div>
					
					<div id="teaser_right">
						<div id="baseline">
							<h1>Scrapp</h1>
							 <div id="app_mobile">
								<p>APP</p>
								<p>MOBILE</p>
							</div>
						</div>
						<div id="content">
							<div>
								<div id="shadow">
									<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="476" height="286" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="http://www.youtube.com/v/6_I70KACh4o&amp;hl=fr_FR&amp;fs=1" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="476" height="286" src="http://www.youtube.com/v/6_I70KACh4o&amp;hl=fr_FR&amp;fs=1" allowscriptaccess="always" allowfullscreen="true"></embed></object>
								</div>	
							<a href="#" class="button" id="apple" ><span class="icon"></span><em>Download it from</em>APPLE STORE</a>
							<a href="#" class="button" id="gplay" ><span class="icon"></span><em>Download it from</em><span id="googleplay">GOOGLE PLAY</span></a>	
							</div>
						</div>				
					</div>
					
					<div class="title" id="title">
						<div id="compteur">
							<h2 id="chiffres">259356</h2>
							<div id="dechets">
								<p>déchets</p>
								<p>traités</p>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- BLOC 2 Afficher la carte ici -->
				<div id="map">
					<img src="img/map.png" alt="carte"/>
				</div>
				<!--BLOC 3 -->
				<div id="slide3">
					<h3 class="title">Dernières contributions</h3>
				
				</div>
			  
			  
				<!--BLOC 4 -->
				<div id="slide4">
				<h3 class="title">Comment ça fonctionne ?</h3>
		        <ul id="etapes">
		            <li>
						<div class="picto">
							<p class="nombres" id="n1">1</p>
							<img src="img/icon_photo.png" alt="etape1" />	
						</div>	
						<p class="titre_etape" id="bg1">Photographiez</p>
						<p class="phrase_etape">les ordures proches de chez vous</p>
						
					</li>
		            <li>
						<div class="picto">
							<p class="nombres" id="n2">2</p>
							<img src="img/icon_geoloc.png" alt="etape1" />
						</div>	
						<p class="titre_etape" id="bg2">Géolocalisez-vous</p>
						<p class="phrase_etape">en un seul clic</p>
						
						
					</li>
		            <li>
						<div class="picto">
							<p class="nombres" id="n3">3</p>
							<img src="img/icon_geoloc.png" alt="etape1" />
						</div>	
						<p class="titre_etape" id="bg3">Indiquez</p>
						<p class="phrase_etape">le niveau de saleté</p>
						
					</li>
		            <li>
						<div class="picto">
							<p class="nombres" id="n4">4</p>
							<img src="img/icon_photo.png" alt="etape1" />
						</div>	
						<p class="titre_etape" id="bg4">C'est nettoyé</p>
						<p class="phrase_etape">en 24h par nos services dédiés</p>
						
					</li>
		        </ul>
				
				</div>
				
				
				
	  	</body>
	  
</html>
	
