<!DOCTYPE html>


<html langue= "fr">

	  	<head>
      		<meta charset="utf-8">
	  		<title> Scrapp </title>
	  
    		<link rel="stylesheet" href="public/stylesheet/resetcss.css"/>  
    		<link href="public/stylesheet/scrapp.css" rel="stylesheet" type="text/css" /> 
    		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
   			<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
			<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
	
			<!-- // <script type="text/javascript" src="scripts/jquery.js"></script> -->
	   	 	<!-- <script type="text/javascript" src="scripts/localscroll/jquery.localscroll.js"></script> -->
	    	<!-- <script type="text/javascript" src="scripts/localscroll/jquery.scrollTo.js"></script> -->
	    	<!--  <script type="text/javascript" src="scripts/lancement.js"></script> -->
		</head>
		<body>
			
				<!--MENU -->
    <nav id="firstNav">
     <img src="public/images/logo_scrapp.png" alt="scrapp logo" />
           <ul id="nav">
          	<li><a id="connect" href="signin">Connexion</a></li>
               <li><a id="m2" href="#slide2">Contributions</a></li>
               <li><a id="m3" href="#slide3">Concept</a></li>
               <li><a id="m4"href="#slide1">Carte</a></li>
           </ul>
      </nav>

			  	<div id="login">
        
            <form method="post" action="signin/">
            
                <fieldset class="clearfix">
                
                    <p><span class="fontawesome-user"></span><input type="text" name="login" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                    <p><span class="fontawesome-lock"></span><input type="password" name="password" value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                    <p><input type="submit" id="submit" value="Connexion"></p>

                </fieldset>

            </form>
        
            <p>Not a member? <a href="#sign_up" id="sign_up" >Sign up now</a>

     </div> <!-- end login -->
     
     <div id="inscription">
        
             <form action="javascript:void(0);" method="get">
            
                 <fieldset class="clearfix">
                
                     <p><span class="fontawesome-user"></span><input type="text" value="Nom" onBlur="if(this.value == '') this.value = 'Nom'" onFocus="if(this.value == 'Nom') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                     <p><span class="fontawesome-user"></span><input type="text" value="Prénom" onBlur="if(this.value == '') this.value = 'Prénom'" onFocus="if(this.value == 'Prénom') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                     <p><span class="fontawesome-user"></span><input type="email" value="email" onBlur="if(this.value == '') this.value = 'email'" onFocus="if(this.value == 'email') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                    <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                     <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                     <p><input type="submit" id="signin" value="Inscription"></p>

                 </fieldset>

             </form>
       
      </div> <!-- end inscription -->
				
		
				<!--BLOC 1 -->
				<div id="slide1">
				
					<div id="main_left">
						<img src="public/images/hand_iphone.png" alt="photo iphone dans la main" />
					</div>
					
					<div id="teaser_right">
						<div id="baseline">
							<h1>Scrapp</h1>
							 
						</div>
						<div id="content">
							<div>
								<div id="shadow">
									<object width="476" height="277">
        <param name="allowfullscreen" value="true" />
        <param name="allowscriptaccess" value="always" />
        <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=88372724&amp;server=vimeo.com&amp;color=00adef&amp;fullscreen=1&amp;title=0&amp;byline=0&amp;loop=1&amp;" />
        <embed src="http://vimeo.com/moogaloop.swf?clip_id=88372724&amp;server=vimeo.com&amp;color=ffffff&amp;fullscreen=1"
            type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="WIDTH" height="HEIGHT"></embed>
    </object>
								</div>	
							<a href="#" class="button" id="apple" ><span class="icon"></span><em>Download it from</em>APPLE STORE</a>
							<a href="#" class="button" id="gplay" ><span class="icon"></span><em>Download it from</em><span id="googleplay">GOOGLE PLAY</span></a>	
							</div>
						</div>				
					</div>
					
					<div class="title" id="title">
						<div id="compteur">
							<h2 id="chiffres">259356</h2>
							<div id="dechets">
								<p>déchets</p>
								<p>traités</p>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- BLOC 2 Afficher la carte ici -->
				<div id="map">
					<img src="public/images/map.png" alt="carte"/>
				</div>
				
			  
			  <!--BLOC 3 -->
    <div id="slide3">
     <h3 class="title">Dernières contributions</h3>
     
     <div id="content_contribs">
      <ul>
       <li id="contrib1">
        <img src="public/images/contrib.jpg" alt="contribution1" />
        <p class="de">De <span>Kirikou</span></p>
        <p class="dates">Publié le <span>12 janvier 2013</span></p>
       
       </li>
       <li id="contrib2">
        <img src="public/images/contrib.jpg" alt="contribution2" />
        <p class="de">De <span>Kirikou</span></p>
        <p class="dates">Publié le <span>12 janvier 2013</span></p>
        
        
        
        
       </li>
       <li id="contrib3">
        <img src="public/images/contrib.jpg" alt="contribution3" />
        <p class="de">De <span>Kirikou</span></p>
        <p class="dates">Publié le <span>12 janvier 2013</span></p>
        
       </li>
      </ul>
      
     </div> 

    </div>
				<!--BLOC 4 -->
				<div id="slide4">
				<h3 class="title">Comment ça fonctionne ?</h3>
		        <ul id="etapes">
		            <li>
						<div class="picto">
							<p class="nombres" id="n1">1</p>
							<img src="public/images/icon_photo.png" alt="etape1" />	
						</div>	
						<p class="titre_etape" id="bg1">Photographiez</p>
						<p class="phrase_etape">les ordures proches de chez vous</p>
						
					</li>
		            <li>
						<div class="picto">
							<p class="nombres" id="n2">2</p>
							<img src="public/images/icon_geoloc.png" alt="etape1" />
						</div>	
						<p class="titre_etape" id="bg2">Géolocalisez-vous</p>
						<p class="phrase_etape">en un seul clic</p>
						
						
					</li>
		            <li>
						<div class="picto">
							<p class="nombres" id="n3">3</p>
							<img src="public/images/icon_niveau.png" alt="etape1" />
						</div>	
						<p class="titre_etape" id="bg3">Indiquez</p>
						<p class="phrase_etape">le niveau de saleté</p>
						
					</li>
		            <li>
						<div class="picto">
							<p class="nombres" id="n4">4</p>
							<img src="public/images/icon_scrapp.png" alt="etape1" />
						</div>	
						<p class="titre_etape" id="bg4">C'est nettoyé</p>
						<p class="phrase_etape">en 24h par nos services dédiés</p>
						
					</li>
		        </ul>
				
				</div>
				
				
				<script type="text/javascript">
   $(document).ready(function()
   {
    jQuery('#inscription').hide();
    jQuery('#login').hide();    
    
    $('#connect').click(function(){
    if($('#inscription').is(':visible')) {
     //alert('Visible');
     $('#inscription').slideToggle(400);
     //alert('slideInscris');
     

    }
    else {
     //alert('Caché');
     //alert('slidelogin');
     $('#login').slideToggle(400);
    
     
     
    }
    }),
     
     
    jQuery('#submit').click(function() {
      jQuery('#login').slideToggle(400);
         return false;
           }),
     
    jQuery('#sign_up').click(function() {
         jQuery('#login').slideToggle(400);
         jQuery('#inscription').slideToggle(400);
         return false;
     }),
     
    jQuery('#signin').click(function() {
      jQuery('#inscription').slideToggle(400);
      return false;
      });
      
   
     
     
   });
   
   
   
        </script>

	  	</body>
	  
</html>
	
