<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Scrapp</title>
    <meta content="" name="description">
    <base href="%3C?php%20echo%20$BASE;%20?%3E/">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="../../public/fonts/fonts.css" rel="stylesheet" type="text/css">
    <link href="../../public/stylesheet/scrapp.css" rel="stylesheet" type=
    "text/css">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel=
    'stylesheet'>
</head>

<body>
    <header>
        <h1><img alt="Logo scrapp" src="../../public/images/logo.png"></h1>

        <nav>
            <ul class="main_menu">
                <li><a href="#carte">Carte</a></li>

                <li><a href="#contrib">Dernières contributions</a></li>

                <li><a href="#concept">Concept</a></li>

                <li><a href="#apropos">A propos</a></li>

                <li>
                    <div class="fleche fleche-droite">
                        <a href="">Connexion</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

<!--SECTION DU PROFIL UTILISATEUR -->
    <section class="profil">
        <h2>Mon profil</h2>
        <div class="roundedimage"></div><!--points sous le h2-->
<div class="wrapper">
        <section class="profil_perso">
            <h3 class="edit">Mes infos</h3>
            
<div class="photo"><img src="../../public/images/profile.jpg"></div>
<div>
  <ul>
    <li>Josette Delamotte</li>
    <li>25 février 1984</li>
    <li>20 rue du colonel Driant, 75 003</li>
    <li>j.delamotte@gmail.com</li>
    <li>06.58.98.65.20</li>
  </ul>
</div>
        </section>

        <section class="badge">
            <h3>Mes badges</h3>
            

    <ul class="liste_badges">
  <li><figure><img src="../../public/images/calendar.png"><figcaption>Badge</figcaption></figure></li>
  <li><figure><img src="../../public/images/cloud.png"><figcaption>Badge</figcaption></figure></li>
  <li><figure><img src="../../public/images/heart.png"><figcaption>Badge</figcaption></figure></li>
  <li><figure><img src="../../public/images/raindrop.png"><figcaption>Badge</figcaption></figure></li>
  <li><figure><img src="../../public/images/mouse.png"><figcaption>Badge</figcaption></figure></li>
  <li><figure><img src="../../public/images/tick.png"><figcaption>Badge</figcaption></figure></li>
  <li><figure><img src="../../public/images/rosace.png"><figcaption>Badge</figcaption></figure></li>
</ul>
        </section>
</div>

    </section>

<!-- SECTION DERNIERES CONTRIBUTIONS UTILISATEUR-->
<section class="contrib_user">
<h2>Mes dernières contributions</h2>
<div class="roundedimage"></div><!--points sous le h2-->

    <!--Liste des dernières contributions de l'utilisateur-->

    <ul class="contribution_auteur">
        <li><figure>
            <img src="../../public/images/pic1.jpg">

            <figcaption>
                <ul>
                    <li><img src="../../public/images/date.png">25 février
                    2014</li>

                    <li><img src="../../public/images/adresse.png">20 rue du
                    Colonel Driant, 75003</li>

                    <li><img src="../../public/images/encours.png">En cours de
                    traitement</li>
                </ul>
            </figcaption></figure>
        </li>

        <li><figure>
            <img src="../../public/images/pic2.jpg">

            <figcaption>
                <ul>
                    <li><img src="../../public/images/date.png">20 février
                    2014</li>

                    <li><img src="../../public/images/adresse.png">31 place
                    Vendôme, 75001</li>

                    <li><img src="../../public/images/encours.png">Nettoyage
                    effectué</li>
                </ul>
            </figcaption></figure>
        </li>

        <li><figure>
            <img src="../../public/images/pic3.jpg">

            <figcaption>
                <ul>
                    <li><img src="../../public/images/date.png">19 février
                    2014</li>

                    <li><img src="../../public/images/adresse.png">207 rue la
                    Fayette, 75010</li>

                    <li><img src="../../public/images/encours.png">En cours de
                    nettoyage</li>
                </ul>
            </figcaption></figure>
        </li>
    </ul>

    <ul class="contribution_auteur">
        <li><figure>
            <img src="../../public/images/pic1.jpg">

            <figcaption>
                <ul>
                    <li><img src="../../public/images/date.png">25 février
                    2014</li>

                    <li><img src="../../public/images/adresse.png">20 rue du
                    Colonel Driant, 75003</li>

                    <li><img src="../../public/images/encours.png">En cours de
                    traitement</li>
                </ul>
            </figcaption></figure>
        </li>

        <li><figure>
            <img src="../../public/images/pic2.jpg">

            <figcaption>
                <ul>
                    <li><img src="../../public/images/date.png">20 février
                    2014</li>

                    <li><img src="../../public/images/adresse.png">31 place
                    Vendôme, 75001</li>

                    <li><img src="../../public/images/encours.png">Nettoyage
                    effectué</li>
                </ul>
            </figcaption></figure>
        </li>

        <li><figure>
            <img src="../../public/images/pic3.jpg">

            <figcaption>
                <ul>
                    <li><img src="../../public/images/date.png">19 février
                    2014</li>

                    <li><img src="../../public/images/adresse.png">207 rue la
                    Fayette, 75010</li>

                    <li><img src="../../public/images/encours.png">En cours de
                    nettoyage</li>
                </ul>
            </figcaption></figure>
        </li>
    </ul>
</body>
</html>